@import "../../global.scss";

.main-button {
  // border: 1px #ffffff00 solid;
  border: none;
  color: #000;
  font-size: 18px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 1;
  background-color: #ffffff00;
  transition: transform 75ms linear;
  @include mobile_potrait {
    font-size: 12px;
    line-height: 14px;
    padding: 10px 25px;
    border-radius: 20px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    content: "";
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  &::after {
    position: absolute;
    bottom: -8px;
    left: -5px;
    width: 50px;
    height: 100%;
    content: "";
    background-color: #ff4d24;
    z-index: -2;
    clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  &:hover {
    &::before {
      border-color: #ff4d24;
      top: -1px;
    }
    &::after {
      bottom: 0px;
      left: 1px;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  span {
    z-index: 1;
    position: relative;
    white-space: nowrap;

  }
}


.menu-btn {
  display: block;
  margin-bottom: 12px;
  width: 52px;
  height: 54px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 75ms linear;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 28px;
  position: relative;
  text-shadow: 0em 0.1em #015506, 0.038em 0.092em #015506, 0.071em 0.071em #015506, 0.092em 0.038em #015506, 0.1em 0em #015506, 0.092em -0.038em #015506, 0.071em -0.071em #015506, 0.038em -0.092em #015506, 0em -0.1em #015506, -0.038em -0.092em #015506, -0.071em -0.071em #015506, -0.092em -0.038em #015506, -0.1em 0em #015506, -0.092em 0.038em #015506, -0.071em 0.071em #015506, -0.038em 0.092em #015506;

  @include mobile_potrait {
    width: 32px;
    height: 34px;
    font-size: 18px;
  }

  &:hover {
    transform: scale(0.96);

    .pop-up {
      visibility: visible;
      opacity: 1;
      transform: scale(1.04) translateX(2px);
    }
  }

  .pop-up {
    position: absolute;
    left: 62px;
    top: 8px;
    // min-width: 80px;
    width: fit-content;
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    visibility: hidden;
    transition: all 75ms linear;
    opacity: 0;
    display: flex;
    align-items: center;
    text-shadow: none;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #333;
      right: calc(100% - 5px);
      position: absolute;
      transform: rotate(45deg);
    }
  }
}