@import "../../global.scss";

.main-button {
  border: none;
  // border: 2px solid #0B4EFF;
  color: #fff;
  font-size: 18px;
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  // background: rgba(28, 60, 99, 0.24);
  // box-shadow: inset 0px 0px 16px rgba(18, 32, 67, 0.48);
  // backdrop-filter: blur(60px);
  border-radius: 24px;
  padding: 10px 30px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  background-image: linear-gradient(79deg, rgba(99, 69, 237, 1) 0%, rgba(224, 57, 253, 1) 100%);

  transition: transform 75ms linear;

  @include mobile_potrait {
    font-size: 12px;
    line-height: 14px;
    padding: 18px 25px;
    border-radius: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 4px;
    top: 4px;
    border: 1.5px dashed #fff;
    border-radius: 30px;
    z-index: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(79deg, rgba(224, 57, 253, 1) 0%, rgba(99, 69, 237, 1) 100%);
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
  }
  span{
    z-index: 1;
    position: relative;
}
  &:hover {
    &::after {
      opacity: 1;
      z-index: 0;
    }
  }

}


.menu-btn {
  display: block;
  margin-bottom: 12px;
  width: 52px;
  height: 54px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 75ms linear;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 28px;
  position: relative;
  text-shadow: 0em 0.1em #015506, 0.038em 0.092em #015506, 0.071em 0.071em #015506, 0.092em 0.038em #015506, 0.1em 0em #015506, 0.092em -0.038em #015506, 0.071em -0.071em #015506, 0.038em -0.092em #015506, 0em -0.1em #015506, -0.038em -0.092em #015506, -0.071em -0.071em #015506, -0.092em -0.038em #015506, -0.1em 0em #015506, -0.092em 0.038em #015506, -0.071em 0.071em #015506, -0.038em 0.092em #015506;

  @include mobile_potrait {
    width: 32px;
    height: 34px;
    font-size: 18px;
  }

  &:hover {
    transform: scale(0.96);

    .pop-up {
      visibility: visible;
      opacity: 1;
      transform: scale(1.04) translateX(2px);
    }
  }

  .pop-up {
    position: absolute;
    left: 62px;
    top: 8px;
    // min-width: 80px;
    width: fit-content;
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    visibility: hidden;
    transition: all 75ms linear;
    opacity: 0;
    display: flex;
    align-items: center;
    text-shadow: none;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #333;
      right: calc(100% - 5px);
      position: absolute;
      transform: rotate(45deg);
    }
  }
}