@import "../../global.scss";
.team{
    width: 100%;
    height: 100vh;
    padding: 80px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile_potrait {
        padding: 80px 16px;
        height: auto;
    }
    .content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        @include mobile_potrait {
            
        }
        .title{
            margin-bottom: 2vw;
            display: flex;
            align-items: center;
            grid-area: auto;
            gap: 16px;
            @include mobile_potrait {
                position: relative;
                margin-bottom: 2rem;
            }
            h1{
                font-weight: normal;
                font-size: 6vw;
                letter-spacing: 0.04em;
                @include mobile_potrait {
                    font-size: 40px;
                }
                span{
                }
            }
            .title1{
                span{
                    color: #FF6CA1;
                }
            }
            .line{
                width: 20px;
                height: 2px;
                background-color: #FF6CA1;
                @include mobile_potrait {
                    position: absolute;
                    top: 18px;
                    left : -50px;
                }
            }
            .title2{
                background: linear-gradient(151.25deg, #99a8c9 36.76%, #17202400 127.37%);
                background-repeat: repeat;
                background-clip: text;
                -webkit-background-clip: text;
                color: rgba(0,0,0,0);
                position: relative;
                @include mobile_potrait {
                }
                span{
                    position: absolute;
                    left: 1px;
                    top : -1px;
                    background: linear-gradient(134.01deg, #FFFFFF 51.35%, rgba(255, 255, 255, 0) 71.53%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    opacity: 0.4;
                    @include mobile_potrait {
                        display: none;
                    }
                }
            }
            .text-shadow{
                color: #a2a9b3;
                text-shadow: 3px 2px 0px #000;
                @include mobile_potrait {
                    text-shadow: none;
                }
            }
        }
        .wrapper{
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: auto;
            gap: 24px;
            @include mobile_potrait {
                align-items: center;
                width: 100%;
                flex-direction: column;
            }

            .btns{
                display: flex;
                align-items: center;
                grid-area: auto;
                gap: 30px;
                margin-top: 30px;
                @include mobile_potrait {
                    gap: 10px;
                    margin-top: 20px;
                }
                a{
                    text-decoration: none;
                }
                .arrow{
                    width: 64px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(141.8deg, #FF6CA1 10.93%, #FF327C 98.79%);
                    border-radius: 24px;
                    transition: all 0.3s ease;
                    &:hover{
                        transform: scale(0.95);
                    }
                    @include mobile_potrait {
                        width: 40px;
                        height: 40px;
                        border-radius: 13px;
                        img{
                            width: 20px;
                        }
                    }
                }
                .pinkBtn{
                    border-color: #FF6CA1;
                    background: #b15c7b29;
                    box-shadow: inset 0px 0px 16px #1220437a;
                }
            }

        }

        .label{
            right: 0;
            bottom: 0;
            position: absolute;
            @include mobile_potrait {
                display: none;
            }
        }
        .team-item{
            display: flex;
            flex: 1;
            background-image: linear-gradient(315deg, #5d4ff8, #8824b7 27.08%, #b7188a 52.08%, #d71b75 77.6%, #ea3147) !important;
            padding: 1px;
            border-radius: 16px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                transform: translateY(-10px);
            }
            @media screen and (max-width: 820px)  {
                width: calc(50% - 12px);
                flex: none;
            }
            @include mobile_potrait {
                width: 100%;
            }
            .item_content{
                background-color: #020317;
                border-radius: 16px;
                padding: 16px;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            img{
                width: 54px;
                height: 54px;
                margin-right: 20px;
                border-radius: 50%;
                object-fit: cover;
                filter: grayscale(1);
                @include mobile_potrait {
                    width: 50px;
                    height: 50px;
                }
            }
            span{
                width: calc(100% - 100px);
                margin-bottom: 16px;
                @include mobile_potrait {
                    width: calc(100%);
                }
                h3{
                    color: #ECF3FF;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.04em;
                    color: #ECF3FF;
                    margin-bottom: 1vw;
                }
                p{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                    padding-bottom: 10px;
                    letter-spacing: 0.05em;
                    color: #ECF3FF;
                    transition: all 0.3s ease;
                    position: relative;
                    opacity: 0.8;
                }
            }
            .line{
                width: 100%;
                height: 2px;

                background: linear-gradient(to right, #ebf2ff 0%, #ecf3ff00 93.83%);
                opacity: 0.3;
                border-radius: 16px;
            }
            .socialLinks{
                display: flex;
                align-items: center;
                margin-top: auto;
                margin-bottom: 0;
                @include mobile_potrait {
                    grid-area: auto;
                    gap: 30px;
                }
                a {
                    transition: all 0.3s ease;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2.5vw;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.03em;
                    text-decoration: none;
                    margin-right: 30px;
                    // color: #C1CDEB;
                    &:hover{
                        transform: scale(1.05);
                    }
                    @include mobile_potrait {
                        font-size: 30px;
                        margin-right: 0;
                    }
                }
                a:nth-child(1){
                    color: #4e0182;
                }
                a:nth-child(2){
                    color: #1a40fd;
                }
                a:nth-child(3){
                    color: #0B94E0;
                }
                a:nth-child(4){
                    color: #6A94FF;
                }
            }
        }

    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile_potrait {
            display: none;
        }
        h3{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            letter-spacing: -0.03em;
            color: #ECF3FF;
            span{
                opacity: 0.4;
                margin-left: 7px;
            }
        }
        .links{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content:space-around;
            .image{
                filter: grayscale(1);
                opacity: 0.4;
                transition: all 0.3s ease;
                cursor: pointer;
                &:hover{
                    filter: grayscale(1) brightness(2) drop-shadow(0px 0px 5px #ffffff99);
                    opacity: 1;
                }
            }
            .icon1{
                height: 2vw;
            }
            .icon2{
                height: 3vw;
            }
        }
        
    }
    
}

