@import "../../global.scss";

.home {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 85px 64px;
    // background-size: 100% 100%;

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        animation: colorChange 5s infinite alternate linear;
        background-color: transparent;
        background-image: radial-gradient(at center center, #f34c4c 0%, #F2295B00 60%);
        opacity: 0.2;

        @keyframes colorChange {
            0% {
                background-position: left top;
                background-size: 300% 100%;
            }

            49.9% {
                background-position: left top;
            }

            50% {
                background-size: 100% 100%;
            }

            50.1% {
                background-position: right top;
            }

            100% {
                background-position: right top;
                background-size: 300% 100%;
            }
        }
    }

    @include mobile_potrait {
        // height: auto;
        padding: 85px 16px;
        background-size: cover;
        background-position: 50%;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 100%;

        @include mobile_potrait {
            flex-direction: column;
            width: 100%;
        }

        .title {
            margin-bottom: 32px;

            h1 {
                font-weight: normal;
                margin-bottom: 0.5rem;
                letter-spacing: 0.04em;
                font-family: Bely_regular;
                // color: #fff;
                font-size: 62px;
                font-style: italic;
                line-height: 1;
                -webkit-text-fill-color: #0000;
                background: linear-gradient(90deg, #e22e59 .54%, #273fd2 30.52%, #cb47f9 49.27%, #f90 72.82%);
                -webkit-background-clip: text;
                background-clip: text;
                color: #0000;

                @media screen and (max-width: 820px) {}

                @include mobile_potrait {
                    font-size: 40px !important;
                    text-align: center;
                }

                span {
                    font-family: Bely_regular;
                }
            }

            img {
                width: 30%;
                margin-left: 50%;
            }
        }

        .strok_titles {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
            
        }

        .strok_title1 {
            color: #00000000;
            font-size: 86px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .02em;
            -webkit-text-stroke-width: 1px;
            stroke-width: 1px;
            -webkit-text-stroke-color: #f90;
            stroke: #f90;
            // font-family: "Cabin", sans-serif;
            position: absolute;
            top: -20px;
            right: -10%;
            opacity: 0.5;
            @include mobile_potrait {
                font-size: 40px;
            }
        }

        .strok_title2 {
            color: #00000000;
            font-size: 86px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .02em;
            -webkit-text-stroke-width: 1px;
            stroke-width: 1px;
            -webkit-text-stroke-color: #273fd2;
            stroke: #273fd2;
            // font-family: "Cabin", sans-serif;
            position: absolute;
            bottom: -20px;
            left: -10%;
            opacity: 0.5;
            @include mobile_potrait {
                font-size: 40px;
            }
        }

        .no_strok {
            color: #000;
            font-size: 86px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .02em;
            // font-family: "Cabin", sans-serif;
            z-index: 1;
            white-space: nowrap;

            @include mobile_potrait {
                font-size: 40px;
            }
        }

        .btns {
            display: flex;
            align-items: center;
            grid-area: auto;
            gap: 30px;
            margin-top: 30px;

            @include mobile_potrait {
                gap: 10px;
            }

            a {
                text-decoration: none;
            }

            .arrow {
                width: 64px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(141.8deg, #5B88FF 10.93%, #2A62F7 98.79%);
                border-radius: 24px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(0.95);
                }

                @include mobile_potrait {
                    width: 50px;
                    height: 50px;
                    border-radius: 20px;

                    img {
                        width: 20px;
                    }
                }
            }
        }

    }

    .desc {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5rem;

        @include mobile_potrait {
            display: flex;
            position: absolute;
        }

        img {
            width: 40px;
        }

        p {
            font-size: 12px;
            line-height: 32px;
            text-align: center;
            letter-spacing: -0.03em;
            color: #ECF3FF;
            opacity: 0.3;
        }
    }

}