@import "../../global.scss";
.footer{
    width: 100%;
    padding: 16px 64px;
    backdrop-filter: blur(15px);
    border-top: 1px #00000033 solid;
                    
    @include mobile_potrait {
        width: 100%;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            @include mobile_potrait {
                border-radius: 24px;
            }
            .logo {
                @include mobile_potrait {
                }
                a {
                    transition: all 0.3s ease;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.03em;
                    color: #222;
                    text-decoration: none;
                    &:hover{
                    }

                    img{
                        height: 3rem;
                        margin-right: 7px;
                    }
                    @include mobile_potrait {
                    }
                }
            }
            .navList {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @include mobile_potrait {
                    width: 100%;
                  }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    list-style: none;
                    margin: 0;
                    padding: 0px;
                    @include mobile_potrait {
                        justify-content: space-between;
                        width: 100%;
                    }
                  li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-right: 2vw;
                    @include mobile_landscape {
                      margin-right: 1rem;
                    }
            
                    a {
                      font-size: 1vw;
                      font-weight: 500;
                      text-decoration: none;
                      transition: all 0.3s ease;
                      color: #222;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      position: relative;
                      @include mobile_potrait {
                        font-size: 12px;
                      }
                      &:hover {
                        color: #000;
                        text-shadow: 2px 2px 3px black;
                      }
                    }
                    
                  }
                  .selected{
                    a{
                      color: #000;
                      
                    }
                  }
                }
            }
            
        }
       
    }
}


