$width: 450px;
$bg_color: #000;
$str_color: rgb(60, 190, 112);
@mixin mobile_potrait {
  @media screen and (max-width: $width) and (orientation: portrait) {
    @content;
  }
}
@mixin mobile_landscape {
  @media screen and (max-height: $width) and (orientation: landscape) {
    @content;
  }
}

@font-face {
  font-family: Bely_regular;
  src: url(fonnts.com-Bely_Display_W00_Regular.ttf);
}
@font-face {
  font-family: font1_regular;
  src: url(font1.woff2);
}